.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: arial;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  margin: 15px 0;
  font-size: 18px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-weight: normal;
  text-align: right;
}
